/*  PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
/* PRODUCT CARD */
.product-card {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
}

/* Image styling */
.product-card img {
  width: 100%;
  height: 400px;
  object-fit: cover; /*makes the image cover the whole square I put them in...*/
  transition: transform 0.5s ease; /* setting how fast it will get the close-up look when mouse over image..*/
}

/* Hover zoom */
.product-card:hover img {
  transform: scale(1.08);
}

/* HOVER-OVERLAY */
.product-info {
  position: absolute;
  bottom: 0;
  left: 0; /*when f.e. at 20% it makes the start of the text rect. move 20% to the right */
  width: 100%; /*width of the text = to width of the image..*/
  padding: 1.5rem; /*how high from the bottom of the img is the text that was placed inside the img*/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  opacity: 0; /* makes the text not visible at first, only when mouse over...*/
  transform: translateY(20px);
  transition: all 0.4s ease;
}

/* Show info on hover */
.product-card:hover .product-info {
  opacity: 1;
  transform: translateY(0);
}

/* Text styling */
.product-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.product-info p {
  margin: 0.3rem 0 0;
  font-size: 0.9rem;
}
/*LOGO - HEADER STYLING*/
.logo-shoppingcart {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
}
.dummy-space {
  width: 30px;
  padding-right: 35px;
}
.shopping-cart {
  width: 30px;
  height: 30px;
  display: flex;
}

.logo-placement-products {
  text-decoration: none;
  color: black;
}
.cart-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
