/* 
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px,1fr));
    grid-template-rows: auto;
    gap: 10px;
    background-color: #fffff;
    padding: 2%;
    border-radius: 8px;
    overflow-y: auto;
    scroll-behavior: smooth;
} */