/* ===== PRODUCT CARD ===== */
.product-card {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;
}

/* Image styling */
.product-card img {
    /* width: 100%;
    height: 400px; */
    /* object-fit:cover; makes the image cover the whole square I put them in... */
    transition: transform 0.5s ease; /* setting how fast it will get the close-up look when mouse over image..*/
}

/* Hover zoom */
.product-card:hover img {
    transform: scale(1.08);
}

/* ===== HOVER INFO OVERLAY ===== */
.product-info {
    position: absolute;
    bottom: 0;
    left: 0; /*when f.e. at 20% it makes the start of the text rect. move 20% to the right */
    width: 100%; /*width of the text = to width of the image..*/
    padding: 1.5rem; /*how high from the bottom of the img is the text that was placed inside the img*/
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    opacity: 0; /* makes the text not visible at first, only when mouse over...*/
    transform: translateY(20px);
    transition: all 0.4s ease;
}

/* Show info on hover */
.product-card:hover .product-info {
    opacity: 1;
    transform: translateY(0);
}

/* Text styling MAIN PAGE - text appearing in the images*/
.product-info h3 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.2rem;
    left: 0;
    padding-left: 22%;

}
.product-info h4 {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-size: 1.2rem;
    left: 0;
    padding-right: 25%;
}