
/* setting the background color for the pages */
body {
    background-color: #f5f5f5;
}

/* paragraph font style and copyright botton font style */
.text-main-page { 
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto;
  font-weight: normal; */  /*already set the size and weight in .logo */ 
  font-style: normal;
}

/* Header for the main page */
/* Header for the collection page*/
.headerContent {
    display: flex;
    flex-direction: column;
}

/* all the headers in ITALIC on all pages */
h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: italic;
}

/* all the Unordered list = menu-bar/links */
ul{
    list-style: none;
    padding-left: 10px;
}
ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
    text-decoration-thickness: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 1rem;
    justify-content: space-evenly; /*rozmiestenie menu-bar*/
}

/* width of the menu-bar */
li {
    margin: 1rem;
}

/* making a separate class and applying code only for ul-li on the AboutUs page, so I dont have to create again a separate file of css for it. */
.aboutuslist{
    display: flex;
    list-style: none;
    padding: 0%;
    text-decoration-thickness: bold;
    border: none;
    margin: 0%;
    flex-direction: column;
    align-items: flex-start;
}

/* styling the links/menu bar  */
a {
    color: #000000;
    text-decoration: none;
}

/*MAIN*/
/*setting the main images into a position on the main page*/ 
.main-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Not functional anymore rn, but might need it... */
/*.main-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width:  40vw;
    aspect-ratio: 1/1;
    margin: 2rem;
}  */

/* Logo styling */
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid black;
    display: inline-table; /*makes the line go only around logo and makes the underline dissapear*/
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center; /* logo natiahnute na celu obrazovku*/
    position: sticky;
}

/* footer styling */
footer {
    border-top: 1px solid black;
    margin-top: 3rem;
}


/* COLLECTION PAGE - grid styling the images and the whole page */
/* Hits of the month */
.cat-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1px;
    padding: 1px;
}
@media screen and (max-width: 768px) {

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

}

img {
    width: 100%;
    height: auto;
    display: block; 
}

/* MAIN PAGE - grid styling the images and whole page */ 
 /* MAIN IMAGE GRID */
.main-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
}
@media screen and (max-width: 768px) {

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

}

